.Board {
  text-align: center;
}

.Footer {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}

.StartScreen {
  text-align: center;
}

.Title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1em;
}
.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background-color: orange;
  min-height: 9em;
  min-width: 9em;
  max-height: 9em;
  max-width: 9em;
}

.Cell {
  font-size: 7em; 
  font-weight: bold;
}

.GameState {
  padding-top: 1em;
  text-align: center;
}